.idea/workspace.xml
*.class
*.jar
*.lst
*.sql
*.properties

FoodOrderingApp-api/target
FoodOrderingApp-api/src/main/resources/
*.yaml
.idea
FoodOrderingApp-api/target
FoodOrderingApp-db/target
FoodOrderingApp-service/target

FoodOrderingApp-api/*.iml
FoodOrderingApp-service/FoodOrderingApp-service.iml
FoodOrderingApp-service/FoodOrderingApp-service.iml
FoodOrderingApp-api/FoodOrderingApp-api.iml
FoodOrderingApp-api/FoodOrderingApp-api.iml
